.drop-zone {
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #cccccc;
    border: 2px dashed #c0c0c0;
    border-radius: 10px;
}

.drop-zone--over{
    border-style: solid;
}

.drop-zone__input{
    display: none;
}

.drop-zone__thumb{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #c0c0c0;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after{
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: white;
    background :rgba(0, 0, 0, 25);
    text-align: center;
}